﻿@model ServiceProviderApplication.Models.ToolUser

<div>
    <h4>Consumer Context</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
            @Model.FirstName @Model.LastName from @Model.ConsumerName
            @if (!string.IsNullOrWhiteSpace(Model.ReturnUrl))
            {
                <a href="@Model.ReturnUrl">Return</a>
            }
        </dd>
        @if (!string.IsNullOrWhiteSpace(Model.Roles))
        {
            <dt>Role/s</dt>
            <dd>@string.Join(", ", Model.Roles.Split(','))</dd>
        }
    </dl>
    <hr />
</div>

