﻿@model ServiceProviderApplication.Models.PostScoreModel

<div>
    <h4>External Gradebooks</h4>
    <hr />
    <p>
        This section simulates an auto-scoring tool. It would normally not be visible to the user (unless
        is it some kind of reflection). You can give yourself any score you want!
    </p>
    <table class="table">
        <tr>
            <th>Consumer</th>
            <th>Course</th>
            <th>Score</th>
            <th></th>
        </tr>
        @using (Html.BeginForm(actionName: "PostScore", controllerName: "Tool"))
        {
            <tr>
                <td>@Model.ConsumerName</td>
                <td>@Model.ContextTitle</td>
                <td>
                    @Html.EditorFor(m => Model.Score, templateName: "Double", htmlFieldName: "Score")
                </td>
                <td>
                    @Html.Hidden("OutcomeId", Model.OutcomeID)
                    @Html.Hidden("ToolId", Model.ToolID)
                    <input type="submit" class="btn" value="Send Score" title="Send this score to the consumer" />
                </td>
            </tr>
        }
    </table>
    <hr />
</div>