﻿@model ServiceProviderApplication.Models.Tool

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.ShowAssign)
{
    @Html.ActionLink("Assign", "PlaceContentItem", new { id = Model.ToolID })
}

<p class="text-info">@ViewBag.StatusMessage</p>

@Html.Action("Context")

@Html.Action("PostScores", new { id = Model.ToolID })

<h4>Content</h4>
<hr />

@Html.Raw(Model.Content)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
