﻿@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    blue {
        color: blue;
    }

    btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 2px 4px;
        background-color: #eee;
    }
</style>

<div class="jumbotron">
    <h1>LTI Provider</h1>
    <p class="lead">
        Service Tool Provider (TP) application receives request from 'Learner Management System (LMS)' for study material, test etc.
        TP also performs the task of score assignment.
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row" style="text-align: justify">
    <div class="col-md-12">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-4">
        <p>
            <h4>Create a login.</h4>
            <ol>
                <li>Click <blue>Register</blue> link on the top-right of the page.</li>
                <li>Enter your email-id &amp; password.</li>
                <li>Click on <btn>Register</btn> button.</li>
                <li>You will be automatically logged-in your provided details.</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h4>Create a consumer.</h4>
            <ol>
                <li>Click <blue>Consumers</blue> link on the top menu.<br />You will be navigated to consumers page.</li>
                <li>Click <blue>Create New</blue> link to create a new consumer.</li>
                <li>
                    Specify all the below information for a consumer:
                    <ol style="list-style-type:lower-alpha">
                        <li>Enter the <b>Name</b> of the consumer.</li>
                        <li>Enter the <b>Key</b>, which will be shared to the consumer.</li>
                        <li>Enter the <b>Secret</b>, which will be shared to the consumer.</li>
                        <li>At last hit the <btn>Create</btn> button.</li>
                    </ol>
                </li>
            </ol>
            The LTI key and secret generated will be needed when you consume the tools.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h4>Create a tool.</h4>
            <ol>
                <li>Click <blue>Tools</blue> link on the top menu.<br />You will be navigated to tools page.</li>
                <li>Click <blue>Create New</blue> link to create a new tool.</li>
                <li>
                    Specify all the below information for a tool:
                    <ol style="list-style-type:lower-alpha">
                        <li>Enter the <b>Name</b> of the tool.</li>
                        <li>Enter the <b>Description</b> of the tool.</li>
                        <li>Enter the <b>Content</b> of the tool.</li>
                        <li>At last hit the <btn>Create</btn> button.</li>
                    </ol>
                </li>
            </ol>
            Create LTI links in the consumer web site to the tool. Add the LTI key and secret for your Consumer.
        </p>
    </div>
</div>