﻿@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    blue {
        color: blue;
    }

    btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 2px 4px;
        background-color: #eee;
    }
</style>

<div class="jumbotron">
    <h1>LTI Consumer</h1>
    <p class="lead">
        Consumer learning tools interoperability (LMS) application, aka. Learner Management System (LMS).
        This application will request 'learning tool provider' application for study material, test etc.
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row" style="text-align: justify">
    <div class="col-md-12">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-6">
        <h4>Creating course &amp; assignment.</h4>
        <p>
            <ol>
                <li>Create a login, with <b>instructor</b> role.</li>
                <li>Create a course, specify the <b>name</b> &amp; hit <btn>Save</btn> button.</li>
                <li>From the list of course, click <blue>Details</blue> link of the above created course.</li>
                <li>
                    Below the course details, in the <b>Assignments</b> section, click <blue>Create Assignment</blue> link to create an assignment.
                    <ol>
                        <li>Specify the assignment <b>name</b>, <b>description</b>.</li>
                        <li>Enter the <b>URL</b> of the tool created in Provider application.</li>
                        <li>Enter the <b>key</b> of the tool (As specified in the tool, when created.)</li>
                        <li>Enter the <b>secret</b> of the tool (As specified in the tool, when created.)</li>
                        <li>Specify the additional parameter (optional), &amp; hit <btn>Create</btn> button.</li>
                    </ol>
                </li>
            </ol>
        </p>
    </div>
    <div class="col-md-6">
        <h4>Launching assignment tool.</h4>
        <p>
            <ol>
                <li>Change the user role from <b>instructor</b> to <b>student</b>.</li>
                <li>Navigate to <b>Courses</b> from the top menu.</li>
                <li>Click <blue>Details</blue> link of the course.</li>
                <li>From the course details window, click <blue>Launch</blue> link of any created assignment.</li>
                <li>Your <b>assignment/tool</b> created at Provider will be loaded instantly.</li>
            </ol>
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
            <h2>&nbsp;</h2>
            <h4>Getting scores.</h4>
            <p>&nbsp;</p>
        </div>*@
</div>