﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - LTI Consumer</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <style type="text/css">
            #wrap
            {
                position: fixed;
                left: 0;
                width: 100%;
                top: 36px;
                height: 100%;
            }
            iframe.content
            {
                border: 0;
                display: block;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
