﻿@model IEnumerable<ConsumerApplication.Models.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerSecret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomParameters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        item.ConsumerKey = item.ConsumerKey.Substring(0, item.ConsumerKey.Length > 12 ? 12 : item.ConsumerKey.Length - 1) + (item.ConsumerSecret.Length > 12 ? "..." : "");
        item.ConsumerSecret = item.ConsumerSecret.Substring(0, item.ConsumerSecret.Length > 12 ? 12 : item.ConsumerSecret.Length - 1) + (item.ConsumerSecret.Length > 12 ? "..." : "");
        item.Description = item.Description.Substring(0, item.Description.Length > 20 ? 20 : item.Description.Length - 1) + (item.Description.Length > 20 ? "..." : "");
        item.Url = item.Url.Substring(0, item.Url.Length > 20 ? 20 : item.Url.Length - 1) + (item.Url.Length > 20 ? "..." : "");
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumerKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumerSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomParameters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AssignmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AssignmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AssignmentID })
            </td>
        </tr>
    }

</table>
