﻿@model  LtiLibrary.AspNet.Lti1.LtiRequestViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@*
    The Controller calculated all the form data, and even the
    form action. All this view needs to do is create the form and ask
    the browser to submit it.

        Original Code
*@
@*<form id="form" action="@Model.Action" method="post">
        @foreach (var name in Model.Fields.AllKeys)
        {
            <input type="hidden" name="@name" value="@Model.Fields[name]" />
        }
        <input type="hidden" name="oauth_signature" value="@Model.Signature" />
    </form>

    @section Scripts {
    <script>
        $(function () {
            $("#form").submit();
        });
    </script>
    }*@

@*Test code*@


<form id="form" action="@Model.Action" method="post">
    <input type="submit" value="Submit for Authentication" />
    <table style="text-align:left; padding: 10px;">
        <tr>
            <th>Form Action:</th>
            <td>@Model.Action</td>
        </tr>
        @foreach (var name in Model.Fields.AllKeys)
        {
            <tr>
                <th>@name:</th>
                <td>
                    @Model.Fields[name]
                    <input type="hidden" name="@name" value="@Model.Fields[name]" />
                </td>
            </tr>
        }
        <tr>
            <th>oauth_signature:</th>
            <td>
                @Model.Signature
                <input type="hidden" name="oauth_signature" value="@Model.Signature" />
            </td>
        </tr>
    </table>
</form>