﻿@model ConsumerApplication.Models.LaunchModel

@{
    ViewBag.Title = Model.AssignmentTitle;
    Layout = "~/Views/Shared/_LayoutLaunch.cshtml";
}

<a href="@Model.ReturnUrl">Back to @Model.CourseTitle</a>

<div id="wrap">
    @if (Model.IsLtiLink)
    {
        @Html.Action("LaunchLTISync", new { id = Model.AssignmentID })
        @*<iframe class="content" src="@Url.Action("LaunchLTI", new { id = Model.AssignmentID })"></iframe>*@
    }
    else
    {
        <iframe class="content" src="@Model.Url"></iframe>
    }
</div>
