﻿@model ConsumerApplication.Models.Course

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <h4>Course</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>Instructor</dt>
        <dd>@Model.Instructor.FullName</dd>
        <dt>Enrollment</dt>
        <dd>
            @Html.Action("Enroll", new { courseId = Model.CourseID })
        </dd>
    </dl>
    <p>
        @if (User.IsInRole(ConsumerApplication.Models.UserRoles.TeacherRole))
        {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID })
        <text> | </text>
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div>
    <h4>Assignments</h4>
    <hr />

    <div class="col-md-offset-1">
        @if (!Model.Assignments.Any())
        {
            <p>There are no assignments yet.</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Assignment</th>
                    <th>Provider</th>
                    @if (Model.EnrolledUsers.Any(u => u.Id == ViewBag.UserId))
                    {
                        <th>Your Score</th>
                    }
                    else
                    {
                        <th></th>
                    }
                    <th></th>
                </tr>
                @foreach (var assignment in Model.Assignments)
                {
                    @Html.Action("CourseAssignment", new { id = assignment.AssignmentID })
                }
            </table>
        }
        @if (User.IsInRole(ConsumerApplication.Models.UserRoles.TeacherRole))
        {
            <p>
                @Html.ActionLink("Create Assignment", "Create", "Assignment", new { Model.CourseID }, null)
            </p>
        }
    </div>
    <hr />
</div>