﻿@model IEnumerable<ConsumerApplication.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole(ConsumerApplication.Models.UserRoles.TeacherRole))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <p>
        You must have the Teacher role to create or edit courses. To change your roles, visit your
        Profile page.
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>
    }

</table>
