﻿@model ServiceProviderApplication.Models.Consumer

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Consumer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Key)</dt>
        <dd>@Html.DisplayFor(model => model.Key)</dd>
        <dt>@Html.DisplayNameFor(model => model.Secret)</dt>
        <dd>@Html.DisplayFor(model => model.Secret)</dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Are you sure you want to delete this consumer?</h4>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}