﻿@model ServiceProviderApplication.Models.Consumer

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title.</h2>

<p>Copy the Key and Secret into the appropriate fields of your learning system.</p>

<div>
    <h4>Consumer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Key)</dt>
        <dd>@Html.DisplayFor(model => model.Key)</dd>
        <dt>@Html.DisplayNameFor(model => model.Secret)</dt>
        <dd>@Html.DisplayFor(model => model.Secret)</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsumerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
